body {
  background-color: #151515 !important;
  color: var(--greyOne) !important;
}

.app-root {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto !important;
  overflow: hidden;
}

.app-root > div {
  margin: 0 !important;
}

.app-root div.info-container {
  width: 400px;
  height:  520px;
  top: 0;
  padding: 0 !important;
}

.app-root div.details-container {
  flex: 1;
  min-width: 320px;
}

.contacts-container {
  display: flex;
  padding: 1rem;
  /*margin-top: 20px;*/
}

.contacts-container .contacts {
  padding-left: 1rem;
  font-family: monospace;
  max-width: 18rem;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacts-container .contacts > div {
  /*margin-top: 73.5px;*/
}

.contacts-container .contacts > div > div {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0.5rem;
}

.contacts-container .contacts a {
  color: var(--greyTwo);
  font-weight: bolder;
}

.contacts-container .contacts i.icon {
  margin-right: 0;
}

.info-container h1.my_name {
  width: 100%;
  font-size: 3.5em;
}

.info-container h1,
.info-container h2 {
  margin: 0 !important;
}

.info-container .name-container {
  padding: 1rem;
  text-align: center;
}

.info-container .name-container p {
  margin-top: 0.5rem;
  font-style: italic;
}

.info-container .flex-pic-cont {
  display: flex;
}

.info-container .contacts-container img.profile_pic {
  height: 120px;
  border-radius: 50%;
}

.info-container .sections-container div.list {
  font-family: monospace;
  margin: 5rem auto 0 auto;
  width: fit-content;
  font-size: 1.25rem;
}
.info-container .sections-container div.list .item {
  cursor: pointer;
}

.details-container .section-header {
  /*font-size: 1.5rem;*/
  font-family: monospace;
  font-weight: bold;
  color: var(--accentThree);
  border-bottom: 2px solid var(--accentThree);
  padding: 0;
}

.employment-container,
.projects-container,
.skills-container,
.education-container {
  /*display: inline flex;*/
  overflow: hidden;
}

.app-root .details-container .skills-container .card.ui .label {
  border-radius: 7px;
  margin: 2px;
}

.app-root .details-container .skills-container .card.ui .content {
  text-align: center;
}

.app-root .details-container .card.ui {
  background-color: #202022 !important;
  max-width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  color: var(--greyOne) !important;
  margin: 0.5rem 0 !important;
  /*padding: 1rem;*/
  padding: 0;
  display: inline-flex;
  min-width:  min-content;
  overflow: hidden;
  width:  unset;

  /*height:  min-content;*/
}

.app-root .details-container .card.ui .header-container {
  padding: 1rem 0 0 1rem;
}

.app-root .details-container .card.ui .header-container img {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.app-root .details-container .card.ui .content {
  padding: 0.5rem;
  display: flex;
  width: 200%;
  border:  none !important;
  background:  transparent !important;
}

.app-root .details-container .card.ui.active {
  z-index: 1001;
}

.app-root .details-container .card.ui .blurb-content {
  float: right;
  height: min-content;
}

.app-root .details-container .card.ui .blurb-content,
.app-root .details-container .card.ui .full-text-content {
  padding: 0 1rem;
  flex: 1;
  /*display: absolute;*/
}

.app-root .details-container .card.ui.table-card .full-text-content {
  overflow-y: scroll;
}

.app-root .details-container .card.ui .full-text-content {
  max-height: 400px !important;
  background-color:  #202022 !important;
}

.app-root .card.ui .header {
  font-size: 1.5rem !important;
}

.app-root .card.ui .meta {
  color: var(--greyThree) !important;
  font-style: italic;
}

.app-root .card.ui .link-container {
  height: 28px;
  display: flex;
  justify-content: flex-end;
  padding-right: 14px;
}

.app-root .button.ui.compact {
  padding: 0.25rem 0.5rem;
  background: transparent;
  color: var(--greyOne);
  font-family: monospace;
}

.app-root .card.ui .link-container .button.ui.compact {
  background: inherit;
}


.app-root .button.ui.compact i.icon {
  color: var(--accentFive);
}

.app-root .info-container .info-placeholder {
  /*display: none;*/
  width: 400px;
  height: 800px;
}

.app-root .info-container .sticky-container {
  position: fixed;
  width: 400px;
  top: 80px;
}

.app-root .details-container .card.ui .content table.skills-table {
  background: transparent;
  color: var(--greyOne);
}

.app-root .details-container .card.ui .content table.skills-table tr.selected-row {
  font-weight: bold;
  background-color: var(--greyFive);
}

/* MOBILE STYLING */
.app-root.mobile-mode {
  flex-direction: column;
}
.app-root.mobile-mode .info-container  {
  width:  100%;
}
.app-root.mobile-mode .info-container .info-placeholder {
  display: none;
  width: 100%;
}

.app-root.mobile-mode .info-container .sticky-container {
  position: static;
  width: 100%;
  top:  unset;
}

/* THEME COLORS */
:root {
  --greyZero: #fcfcff; /* cards */
  --greyOne: #f7f3f3; /* background */
  --greyTwo: #c9c3c4;
  --greyThree: #bab5b5;
  --greyFour: #807d7d;
  --greyFive: #4b4949;
  --greySix: #1c1b1b;
  --greySeven: #080405;

  --primaryOne: #2e1013;
  --primaryTwo: #571f25;
  --primaryThree: #842e38;
  --primaryFour: #b54853;
  --primaryFive: #e6505d;

  --accentOne: #0a6375;
  --accentTwo: #0d849c;
  --accentThree: #10a6c3;
  --accentFour: #13c7eb;
  --accentFive: #3ad0ef;

  --goodOne: #e3fcec;
  --goodTwo: #a8eec1;
  --goodThree: #249d57;
  --goodFour: #187741;
  --goodFive: #155239;
}
